:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2%;
}

#message {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2%;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.square {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 10rem;
    border: 1px solid black;
}

.square:hover {
    background-color: lightgray;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
}

.start-btn, .restart-btn {
    width: 150px;
    height: 60px;
}